*,*::before*::after{
margin:0;
padding:0;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.board{
    margin:auto;
    height: 500px;
    width:350px;
    display:grid;
grid-template-columns:repeat(3, 150px);
grid-template-rows:repeat(3,150px);
}

.square{
    border: 1px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:400ms;

}

.currentPlayer{
    position:absolute;
    top:40%;
    left:20%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.cross svg,.circle svg{
    width:100%;
    height:80%;
}

.notAllowed{
    background-color:red;}

#reset{
    background-color:rgba(112, 128, 144,0.8);
    color:white;
    position:absolute;
    top:40%;
    right:10%;
    padding:10px 25px;
    border:none;
    cursor:pointer;
}

#reset:hover{
    background-color: rgba(112, 128, 144,0.7);
    transform: scale(1.1)
}

#reset:active{
    background-color:rgba(112, 128, 144,0.9);
}

@media(max-width:400px){
    #reset{
        top:88%;
        left:60%;
        margin-top:20px;
    }
    .currentPlayer{
        top:90%;
        left:20%;
        margin-top:20px;
    }
    .board{
        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(3,1fr) ;
    }
}

.square[data-board-index='0'],.square[data-board-index='3'],
.square[data-board-index='6']{
border-left:none;
}

.square[data-board-index='2'],.square[data-board-index='5'],
.square[data-board-index='8']{
border-right:none;
}

.square[data-board-index='0'],.square[data-board-index='1'],
.square[data-board-index='2']{
border-top:none;
}

.square[data-board-index='6'],.square[data-board-index='7'],
.square[data-board-index='8']{
border-bottom:none;
}

/* designing the overlay and card */

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    inset:0;
    background-color:rgba(0,0,0,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-initial{
position:relative;
width:500px;
height:350px;
background-color:white;
}